*{margin:0px; padding:0px;}

h1, h2 {font-family:'Playfair Display'; color:#0f3923; text-align: center;padding-top:50px;}
p {font-family:'Arial'; color:#0f3923;}
img {margin-left:auto;margin-right:auto;display:block;}

h2 {padding-bottom:20px;}
p {padding-top:20px;padding-bottom:30px; margin-left:400px;margin-right:400px;line-height:1.4;}


#wrapper {width:80%;
        height:auto;
        width:auto;
        margin:auto;


}


button {
        padding:10px; 
        margin:20px;
        background:none;
        border:2px solid white;
        font-family:'Arial';
    

}


#buttons {margin-left: 400px;padding-top:20px;}

span {font-weight: bold;}

